

<form method="post" action="/Search/byTitle">
    Show Courses by Title: 
      <input type="text" name="title" 
             placeholder="Taken">
    <input type="submit">
</form>
<form method="post" action="/Search/byYear">
    Show Courses by Year: 
      <input type="text" name="year" 
             placeholder="2000">
    <input type="submit">
</form>
